.container{
    max-width:140rem;
    padding:4.2rem 2.4rem;
    display:flex;
    justify-content:space-between;
    font-size:1.5rem;
  
}
.container a{
    list-style:none;
    text-decoration:none;
}
ul{
    display:flex;
    justify-content: space-between;
    gap:3.2rem;
}

nav ul li{
    list-style:none;
    font-size:1.5rem;
}
nav ul li a {
    text-decoration:none;
}